﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="selectSensorGroup.aspx.vb" Inherits="SQLWeb.selectSensorGroup" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>奇立實業</title>
    <script type="text/javascript" src="js/jquery-latest.min.js"></script>
    <script type="text/javascript" src='js/jquery.blockUI.js'></script>

    <script>
        function getParam() {
            // document.getElementById("TextBox3").value = "1,2,3";
            var result = document.getElementById("txtList").value;
           // var b = opener.document.getElementById("ttt111").innerText;
            opener.document.getElementById("ttt111").innerText = result;
            var a = opener.document.getElementById("ttt111").innerText;
            //var a = document.getElementById("TextBox3");
            //var b = document.getElementById("TextBox3").value;
            console.log(a + ":" + result);
            window.close(); 
        }
    </script>

</head>
<body>
    <form id="form1" runat="server">
        <div  >
 <table>
                            <tr>
                                <td style="width: 200px"></td>
                                <td style="width: 800px">此功能給&nbsp;&nbsp; -- 多曲線雙時間軌分析&nbsp; 專用的，可以點連結一次拉一群感應器，或某特定</td>
                            </tr>
                         
        <tr>
                                <td style="width: 200px">感應器列表:</td>
                                <td style="width: 800px">
                                    <asp:ListBox ID="ListBox1" runat="server" AutoPostBack="True" Height="250px" Width="500px">
                                        <asp:ListItem>1</asp:ListItem>
                                        <asp:ListItem>2</asp:ListItem>
                                        <asp:ListItem>3</asp:ListItem>
                                        <asp:ListItem>6</asp:ListItem>
                                    </asp:ListBox>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <asp:TextBox ID="txtList" runat="server" Width="391px"></asp:TextBox>
                                    <label id="test1" onclick="getParam()">傳回選到的</label>
                                </td>
                            </tr>
                        </table>

          
        </div>
    </form>
</body>
</html>
