﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="02多曲線同時顯示.aspx.vb" Inherits="SQLWeb._02多曲線同時顯示" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>奇立實業 </title>
    <script type="text/javascript" src="js/jquery-latest.min.js"></script>
    <script type="text/javascript" src='js/jquery.blockUI.js'></script>
     
</head>
<body>
    <form id="form1" runat="server">
        <div id="divUP" style="width: 1860px; height: 880px; border: 1px solid #c3c3c3">

            <canvas id="myCanvasFG" width="1860" height="880" onmousemove="CanvasFG_mouosemove(event)" onmousedown="CanvasFG_mouosedown(event)" onmouseup="CanvasFG_mouoseup(event)"></canvas>
        </div>
        <div style="visibility: hidden;">
            <label id="aa" >1111</label>
            <label id="bb" >1111</label>
            <label id="cc" >1111</label>
            <canvas id="myCanvasBG" width="1580" height="880"></canvas>
        </div>

    </form>
</body>
</html>
