﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ComfirmButton.ascx.vb" Inherits="SQLWeb.ComfirmButton" %>
<asp:Button ID="btnCommand" runat="server" Text="Button" BackColor="#FFCC99" ForeColor="#003300" />
<asp:Button ID="btnYes" runat="server" Text="是" Visible="False" />
<asp:Button ID="btnNo" runat="server" Text="否" Visible="False" />

