﻿@charset "utf-8";

#homeMain {
	float: left;
	height: auto;
	width: 1024px;
	padding: 0px;
	background-color: #FFF;
}

#homeMain table {
	margin: 0px;
	padding: 0px;
}



#homeMain table tr td {
	line-height: 26px;
}

#homeMain table tr td #p01 {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DDD;
	border-right-color: #DDD;
	border-bottom-color: #DDD;
	border-left-color: #DDD;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 25px;
	border-left-width: 10px;
	margin-left: 120px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
	margin-top: 50px;
}
#homeMain table tr td #p02 {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DDD;
	border-right-color: #DDD;
	border-bottom-color: #DDD;
	border-left-color: #DDD;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 25px;
	border-left-width: 10px;
	margin-left: 60px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
	margin-top: 50px;
}
#homeMain table tr td #p03 {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DDD;
	border-right-color: #DDD;
	border-bottom-color: #DDD;
	border-left-color: #DDD;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 25px;
	border-left-width: 10px;
	margin-left: 120px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
	margin-top: 0px;
}
#homeMain table tr td #p04 {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DDD;
	border-right-color: #DDD;
	border-bottom-color: #DDD;
	border-left-color: #DDD;
	border-top-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 25px;
	border-left-width: 10px;
	margin-left: 60px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
	margin-top: 0px;
}
 

#homeFooter {
	float: left;
	height:100px;
	width: 750px;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding-left: 274px;
	padding-top: 12px;
	margin: 0px;
	background-color: #FFF;
	background-attachment: scroll;
	background-image: url(images/home/homeFooter.jpg);
	background-repeat: no-repeat; 
	background-position: left top;
}
#homeMain table tr td h2 {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	color: #FFF;
	font-weight: bold;
}

#homeMain table tr td p {
	margin-right: 15px;
	margin-left: 15px;
}

#homeMain #movies {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 900px;
	margin-top: 55px;
	margin-bottom: 55px;
	margin-left: 55px;
}

#homeMain #movies tr td {
	border: 3px solid #B8B8B8;
}

#homeMain #message {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 55px;
	margin-left: 100px;
	margin-bottom: 20px;

}

#homeMain #message tr td {
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #666;
}
#homeMain #message tr td a {
	color: #000;
}
#homeMain #message tr td a:hover {
	color: #1A5E7B;
}




#homeMain #page {
	height: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0px;
	width: 250px;
	margin-top: 0px;
	float: left;
	margin-left: 380px;
}

#homeMain #page tr td {
	text-align: center;
}
#homeMain #page tr td a {
	color: #000;
}
#homeMain #page tr td a:hover {
	color: #1A5E7B;
	text-decoration: underline;
}
#homeMain #product {
	margin-top: 55px;
	margin-bottom: 55px;
}


#homeMain #product tr td #pr01 {
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-width: 5px;
	border-left-color: #999;
	margin-left: 31px;
	float: left;
	border-left-style: solid;
	margin-bottom: 31px;
}
#homeMain #product tr td #pr02 {
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-width: 5px;
	border-left-color: #999;
	margin-left: 20px;
	float: left;
	border-left-style: solid;
	margin-bottom: 31px;
}
#homeMain #product tr td #pr03 {
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-width: 5px;
	border-left-color: #999;
	margin-left: 20px;
	float: left;
	border-left-style: solid;
	margin-bottom: 31px;
}
#homeMain #product tr td #pr04 {
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-width: 5px;
	border-left-color: #999;
	margin-left: 31px;
	float: left;
	border-left-style: solid;
}
#homeMain #product tr td #pr05 {
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-width: 5px;
	border-left-color: #999;
	margin-left: 20px;
	float: left;
	border-left-style: solid;
}
#homeMain #product tr td #pr06 {
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-width: 5px;
	border-left-color: #999;
	margin-left: 20px;
	float: left;
	border-left-style: solid;
}

#homeMain #contact {
	margin-top: 55px;
	margin-left: 100px;
	font-size: 16px;
	padding: 0px;
	float: left;
	width: 900px;
	margin-bottom: 55px;
}


#homeMain #contact tr td iframe {
	float: left;
	height: 250px;
	width: 580px;
	margin-right: 20px;
}

#homeMain #contact tr td form #name {
	width: 300px;
	margin-top: 31px;
}
#homeMain #contact tr td form #phone {
	width: 300px;
	margin-top: 31px;
}
#homeMain #contact tr td form #content {
	width: 631px;
	margin-top: 31px;
	height: 250px;
}

#homeMain #side {
	float: left;
	height: auto;
	width: 220px;
	margin-left: 5px;
	margin-top: 15px;
}
#homeMain #side #b01 {
	float: left;
	height: 55px;
	width: 220px;
	margin-bottom: 31px;
	color: #0E3643;
	background-attachment: scroll;
	background-image: url(images/home/btnBg.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 22px;
	font-weight: bold;
}
#homeMain #side #b02 {
	float: left;
	height: 55px;
	width: 220px;
	margin-bottom: 31px;
	color: #0E3643;
	background-attachment: scroll;
	background-image: url(images/home/btnBg.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 22px;
	font-weight: bold;
}
#homeMain #side #b03 {
	float: left;
	height: 55px;
	width: 220px;
	margin-bottom: 31px;
	color: #0E3643;
	background-attachment: scroll;
	background-image: url(images/home/btnBg.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 22px;
	font-weight: bold;
}
#homeMain #side #b04 {
	float: left;
	height: 55px;
	width: 220px;
	margin-bottom: 31px;
	color: #0E3643;
	background-attachment: scroll;
	background-image: url(images/home/btnBg.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 22px;
	font-weight: bold;
}
#homeMain #side #b05 {
	float: left;
	height: 55px;
	width: 220px;
	margin-bottom: 31px;
	color: #0E3643;
	background-attachment: scroll;
	background-image: url(images/home/btnBg.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 22px;
	font-weight: bold;
}
#homeMain #side #b06 {
	float: left;
	height: 55px;
	width: 220px;
	margin-bottom: 31px;
	color: #0E3643;
	background-attachment: scroll;
	background-image: url(images/home/btnBg.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 22px;
	font-weight: bold;
}








#homeMain #smain {
	float: left;
	width: 789px;
	margin-left: 5px;
	margin-top: 15px;
}

#homeMain #vip tr td form {
	font-size: 26px;
	line-height: 20px;
	float: left;
	height: 400px;
	width: 630px;
	margin-top: 110px;
	margin-right: 197px;
	margin-bottom: 110px;
	margin-left: 197px;

}
#homeMain #vip tr td form #number2 {
	height: 50px;
	width: 450px;
	margin-bottom: 30px;
	margin-top: 5px;
}


#homeMain #vip tr td form #pass {
	height: 50px;
	width: 450px;
	margin-right: 50px;
}
#homeMain #vip tr td form #vipMain {
	font-weight: bold;
	color: #FFF;
	height: 400px;
	background-color: #124155;
}

.imgA {
	float: right;
	margin-right: 55px;
}
.imgB {
	margin-left: 10px;
	margin-right: 2px;
	margin-bottom: -8px;
}
.imgC {
	padding: 0px;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: -8px;
	margin-left: 0px;
}
