﻿@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-image: url(img/bg-gray.jpg);
}
#wrapper {
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #top {
	float: left;
	height: 212px;
	width: 1100px;
	background-attachment: scroll;
	background-image: url(images/index/indexTop.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#wrapper #header {
	float: left;
	height: 314px;
	width: 1100px;
	background-attachment: scroll;
	background-image: url(images/index/indexHeader.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}


#wrapper #movies {
	height: 300px;
	width: 400px;
	margin-left: 350px;
}
#wrapper #btnbg {
	float: left;
	height: 30px;
	width: 700px;
	background-attachment: scroll;
	background-image: url(images/index/indexBtnbg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 400px;
}
#wrapper #btn01 {
	height: 30px;
	width: 82px;
	float: left;
	margin-right: 30px;
}
#wrapper #btn02 {
	height: 30px;
	width: 82px;
	float: left;
	margin-right: 30px;
}
#wrapper #btn03 {
	height: 30px;
	width: 82px;
	float: left;
}

#wrapper #footer {
	float: left;
	height: 85px;
	width: 850px;
	clear: none;
	background-attachment: scroll;
	background-image: url(images/index/footerBg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 23px;
	padding-top: 40px;
	padding-left: 250px;
}
.homeBg {
	background-color: #333;
}
#home {
	height: auto;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
#homeNav {
	float: left;
	height: 104px;
	width: 1024px;
	padding: 0px;
}
#homeNavLogo {
	float: left;
	height: 104px;
	width: 168px;
	padding: 0px;
}
#homeNavBtn01 {
	float: left;
	height: 104px;
	width: 136px;
	padding: 0px;
}
#homeNavBtn02 {
	float: left;
	height: 104px;
	width: 131px;
	padding: 0px;
}
#homeNavBtn03 {
	float: left;
	height: 104px;
	width: 130px;
	padding: 0px;
}
#homeNavBtn04 {
	float: left;
	height: 104px;
	width: 169px;
	padding: 0px;
}
#homeNavBtn05 {
	float: left;
	height: 104px;
	width: 129px;
	padding: 0px;
}
#homeNavBtn06 {
	float: left;
	height: 104px;
	width: 161px;
	padding: 0px;
}







#homeHeader {
	float: left;
	height: 322px;
	width: 1024px;
	padding: 0px;
}

#homeMain {
	float: left;
	height: auto;
	width: 1024px;
	padding: 0px;
	background-color: #FFF;
}
#homeMain table {
	width: 300px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	border-top-width: 30px;
	border-right-width: 25px;
	border-bottom-width: 60px;
	border-left-width: 25px;
	margin-left: 95px;
	margin-top: 50px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
}
#homeMain table tr td {
	line-height: 26px;
}




#homeFooter {
	float: left;
	height: 101px;
	width: 750px;
	font-family: 微軟正黑體 ;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding-left: 274px;
	padding-top: 0px;
	margin: 0px;
	background-color: #FFF;
	background-attachment: scroll;
	background-image: url(images/home/homeFooter.jpg);
	background-repeat: repeat;
	background-position: left top;
}
#homeMain table tr td h2 {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
#homeMain table tr td p {
	margin-right: 15px;
	margin-left: 15px;
}
