﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="WebForm1.aspx.vb" Inherits="SQLWeb.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style ="text-align:center">
    
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="wf.aspx?c=1" Font-Size="X-Large">1.Device列表</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="wf.aspx?c=2&d=device1" Font-Size="X-Large">2.open 程式</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="wf.aspx?c=3&d=device1" Font-Size="X-Large">3.close 程式</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink4" runat="server" NavigateUrl="wf.aspx?c=4&d=device1" Font-Size="X-Large">4.關機</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink5" runat="server" NavigateUrl="wf.aspx?c=5&d=device1" Font-Size="X-Large">5.重開機</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink6" runat="server" NavigateUrl="wf.aspx?c=6&d=device1" Font-Size="X-Large">6.裝置改名稱</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink7" runat="server" NavigateUrl="webform2.aspx?wid=400&hei=400&d=device1" Font-Size="X-Large">7.顯示實際擷取到的畫面</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink21" runat="server" NavigateUrl="wf.aspx?c=7&d=device1" Font-Size="X-Large">7.開始擷取畫面命令</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink22" runat="server" NavigateUrl="wf.aspx?c=8&d=device1" Font-Size="X-Large">8.停止擷取畫面命令</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink8" runat="server" NavigateUrl="wf.aspx?c=10&d=000000000000000" Font-Size="X-Large">10.APP授權登入</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink9" runat="server" NavigateUrl="wf.aspx?c=11&d=000000000000000" Font-Size="X-Large">11.取得群組和設備列表</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink10" runat="server" NavigateUrl="wf.aspx?c=12&d=盟戰群組&e=2" Font-Size="X-Large">12.群控(動作:0.結束資源  1執行資源、2重開機、3關機)</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink13" runat="server" NavigateUrl="wf.aspx?c=13&d=盟戰群組" Font-Size="X-Large">13.群控-取得資源列表(傳回: [resID,resName,resPic,reskind]...)</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink14" runat="server" NavigateUrl="wf.aspx?c=14&d=盟戰群組" Font-Size="X-Large">14.群控-取得裝置列表(傳回:[deviceID,devicename]...)</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink11" runat="server" NavigateUrl="wf.aspx?c=15&d=device1&e=1" Font-Size="X-Large">15.單控(動作:0結束資源、1選資源、2重開機、3關機)</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink12" runat="server" NavigateUrl="wf.aspx?c=16&d=device1" Font-Size="X-Large">16.單控-取得裝置資訊</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink15" runat="server" NavigateUrl="wf.aspx?c=17&d=device1" Font-Size="X-Large">17.單控-取得資源列表(傳回: [resID,resName,resPic,reskind]...)</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink16" runat="server" NavigateUrl="wf.aspx " Font-Size="X-Large">18. xxx</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink17" runat="server" NavigateUrl="wf.aspx " Font-Size="X-Large">19.xxx</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink18" runat="server" NavigateUrl="wf.aspx?c=20&d=盟戰群組&e=體驗影片2" Font-Size="X-Large">20.群控-設定資源</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink19" runat="server" NavigateUrl="wf.aspx?c=21&d=device1&e=體驗影片2" Font-Size="X-Large">21.單控-設定資源</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink23" runat="server" NavigateUrl="wf.aspx?c=22&d=盟戰群組&e=體驗影片2" Font-Size="X-Large">22.群控-移除資源</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink24" runat="server" NavigateUrl="wf.aspx?c=23&d=device5&e=體驗影片2" Font-Size="X-Large">23.單控-移除資源</asp:HyperLink><br />
        <asp:HyperLink ID="HyperLink20" runat="server" NavigateUrl="wf.aspx?c=25&d=0000000000" Font-Size="X-Large">25.取得群組和設備列表1(設備管理用)</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink25" runat="server" NavigateUrl="wf.aspx?c=30&d=0000000000" Font-Size="X-Large">30.取得群組列表</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink26" runat="server" NavigateUrl="wf.aspx?c=31&d=device1&e=131" Font-Size="X-Large">31.修改device所屬群組</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink27" runat="server" NavigateUrl="wf.aspx?c=32&d=test1" Font-Size="X-Large">32.新增群組</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink28" runat="server" NavigateUrl="wf.aspx?c=33&d=test" Font-Size="X-Large">33.單控-刪除設備</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink31" runat="server" NavigateUrl="wf.aspx?c=34&d=test" Font-Size="X-Large">34.刪除群組</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink32" runat="server" NavigateUrl="wf.aspx?c=35&d=test&e=test1" Font-Size="X-Large">35.修改群組名稱</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink29" runat="server" NavigateUrl="wf.aspx?c=36&" Font-Size="X-Large">36.取得日期列表</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink30" runat="server" NavigateUrl="wf.aspx?c=37&d=20161022" Font-Size="X-Large">37.取得某日期日誌</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink33" runat="server" NavigateUrl="wf.aspx?c=38" Font-Size="X-Large">38.取得目前舊的版本</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink35" runat="server" NavigateUrl="wf.aspx?c=39" Font-Size="X-Large">39.取得目前更新版本</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink34" runat="server" NavigateUrl="wf.aspx?c=40&d=20161101122552" Font-Size="X-Large">40.取得未讀LOG數量</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink37" runat="server" NavigateUrl="wf.aspx?c=43&d=222" Font-Size="X-Large">43.取得密碼</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink38" runat="server" NavigateUrl="wf.aspx?c=44&d=123&e=111" Font-Size="X-Large">44.設定密碼</asp:HyperLink> <br />
        <asp:HyperLink ID="HyperLink36" runat="server" NavigateUrl="wf.aspx?c=46&d=222" Font-Size="X-Large">46. 取得目前監控相片編號</asp:HyperLink> <br />
        <br />
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Button" />
        <br />
    </div>
    </form>
</body>
</html>
