<!-- html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    font-family: "標楷體", Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", DFKai-SB, sans-serif, 細明體, Verdana, Tahoma, 新細明體, "Courier New", "Microsoft Sans Serif", "Droid Sans", "Sans", "Serif", "Monospace";
}

#container {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

#list {
    /* background-color: #ddffff !important; */
    width: 10%;
    min-width: 192px;
    min-height: 100%;
    float: left;
    border-right-style: solid;
    border-width: 0px;
    border-color: #2196F3 !important;
}

#cond {
    /* background-color: SkyBlue !important; */
    /* background-color: #F2FFF2 !important; */
    /* background-color: #ddffff !important; */
    /* width: 89.8%; */
    width: auto;
    /* min-width: auto; */
    height: 6%;
    min-height: 54.18px;
    float: left;
    border-bottom-style: solid;
    border-color: #2196F3 !important;
}

#cont {
    /* background-color: #ddffff !important; */
    width: 80%;
    /* width: auto; */
    height: 92%;
    float: left;
}

div {
    height: 100%;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    border: 0 none;
    font-family: "標楷體", Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", DFKai-SB, sans-serif, 細明體, Verdana, Tahoma, 新細明體, "Courier New", "Microsoft Sans Serif", "Droid Sans", "Sans", "Serif", "Monospace";
}

#chart {
    margin-top: 55px !important;
    width: 100% !important;
    height: 90% !important;
    /* margin-right: 10px !important; */
    /* clear: both !important; */
    /* float: left !important; */
    /* font-size: 24px !important; */
}

text {
    font-size: 1.3em !important;
}

.c3-title, .c3-legend-item-event, .tick, .c3-legend-item, .c3-legend-item-data1, .c3-tooltip th, .c3-tooltip td, .c3-axis-y text, .c3-axis-x text {
    font-size: 1.2em !important;
}

#vl1 {
    z-index: 99;
    position: absolute;
    cursor: e-resize;
    background: red;
    left: 384px;
    top: 6px;
    width: 6px;
    height: 500px;
}

#vl2 {
    z-index: 99;
    position: absolute;
    cursor: e-resize;
    background: red;
    left: 720px;
    top: 6px;
    width: 6px;
    height: 500px;
}

/* .c3-text , .c3-empty, c3-text, c3-empty  {
    font-size: 1.3em !important;
} */

/* .axis text { */

/* g {
    font-size: 1.4em !important;
    font-family: "標楷體", Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", DFKai-SB, sans-serif, 細明體, Verdana, Tahoma, 新細明體, "Courier New", "Microsoft Sans Serif", "Droid Sans", "Sans", "Serif", "Monospace";
} */

/* .c3-empty.c3-text {
    font-size: 1.3em !important;
} */


#loading {
    font-size: 1.4em !important;
}

#loadSpan {
    margin-top: 43px !important;
    color: blue !important;
}

#message {
    font-size: 1.4em !important;
    text-align: left !important;
}

.combo, .jqx-combobox-input, .jqx-widget-content, .jqx-listitem-state-selected, .jqx-listitem-state-normal, .jqx-rc-all, .jqx-combobox-input-energyblue, .jqx-widget-content-energyblue, .jqx-rc-all-energyblue {
    font-size: 1.1em !important;
}

#lstSensor {
    margin-left: 15px !important;
    margin-top: 12px !important;
    margin-right: 15px !important;
}

#cboStartYear {
    float: left !important;
    /* margin-left: 15px !important; */
    margin-top: 12px !important;
    margin-right: 5px !important;
}

#divStartYear {
    float: left !important;
    font-size: 1.4em !important;
    margin-top: 14px !important;
    margin-right: 5px !important;
    color: blue !important;
    width: auto !important;
}

#cboStartMonth {
    float: left !important;
    margin-top: 12px !important;
    margin-right: 5px !important;
}

#divStartMonth {
    float: left !important;
    font-size: 1.4em !important;
    margin-top: 14px !important;
    margin-right: 5px !important;
    color: blue !important;
    width: auto !important;
}

#divUntil {
    float: left !important;
    font-size: 45px !important;
    font-weight: bolder !important;
    margin-top: 3px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    color: black !important;
    width: auto !important;
}

#cboStopYear {
    float: left !important;
    margin-left: 5px !important;
    margin-top: 12px !important;
    margin-right: 5px !important;
}

#divStopYear {
    float: left !important;
    font-size: 1.4em !important;
    margin-top: 14px !important;
    margin-right: 5px !important;
    color: blue !important;
    width: auto !important;
}

#cboStopMonth {
    float: left !important;
    margin-top: 12px !important;
    margin-right: 5px !important;
}

#divStopMonth {
    float: left !important;
    font-size: 1.4em !important;
    margin-top: 14px !important;
    margin-right: 5px !important;
    color: blue !important;
    width: auto !important;
}

#btnQuery {
    float: left !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    margin-right: 5px !important;
}

#imgQuery {
    float: left !important;
    margin-top: 5px !important;
    margin-left: 15px !important;
    width: auto !important;
}

#divQuery {
    float: left !important;
    font-size: 1.4em !important;
    margin-top: -1px !important;
    margin-left: 9px !important;
    color: blue !important;
    width: auto !important;
}

#divDisp {
    float: left !important;
    font-size: 1.4em !important;
    margin-top: -1px !important;
    margin-left: 9px !important;
    color: red !important;
    width: auto !important;
}


-->
