﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="05數據監控紀錄.aspx.vb" Inherits="SQLWeb._03數據監控紀錄" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>奇立實業</title>
    <script src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <script src='js/myMouse5.js'></script>
    <script>
        var isStart = 0;
        function getSelect() {
            var a;
            var x = document.getElementById("DDarea");
            document.getElementById("test1").innerText = x.options[x.selectedIndex].text;

            var y = document.getElementById("DDclass");
            document.getElementById("test2").innerText = y.options[y.selectedIndex].text;

            var z = document.getElementById("DDdevice");
            document.getElementById("test3").innerText = z.options[z.selectedIndex].text;

            console.log(a);
            //window.location  = 'index.aspx?id=1';
            if (x.selectedIndex == 0)
                window.location = "05數據監控紀錄.aspx?id=1";
            else if (x.selectedIndex == 1)
                window.location = "05數據監控紀錄.aspx?id=2";
            else if (x.selectedIndex == 2)
                window.location = "05數據監控紀錄.aspx?id=3";
            // <asp:ListItem Value="1">一廠</asp:ListItem>
            //<asp:ListItem Value="2">二廠</asp:ListItem>
            //<asp:ListItem Value="3">三廠</asp:ListItem>

        }

        //window.onload = function (e) { 
        //      //  draw();  
        //}
    </script>

    <style>
        #myCanvasFG {
            position: static;
            border: 1px solid black;
        }

        #myCanvasBG {
            position: static;
            border: 1px solid black;
        }
    </style>
</head>

<body style="background-color: #ddffff">
    <form id="form1" runat="server">
        <div id="divUP" style="width: 1800px; height:80px; border: 1px solid #c3c3c3"> 
            <div style="font-size: 20px">
                廠區
            <asp:DropDownList ID="DDarea" runat="server" Width="160px" >
            </asp:DropDownList>&nbsp;&nbsp;&nbsp;
            課別 
            <asp:DropDownList ID="DDclass" runat="server" Width="120px" >
            </asp:DropDownList>&nbsp; &nbsp;&nbsp;
            設備 
            <asp:DropDownList ID="DDdevice" runat="server" Width="120px" >
            </asp:DropDownList>&nbsp;  
            
            <asp:Button ID="btnQuery" runat="server" BackColor="Yellow" Font-Size="Large" Text="查詢" Width="80px" />
 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
                <label id="test1"></label>
                <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Index.aspx">回首頁</asp:HyperLink>
                <label id="test2"></label>
                <label id="test3"></label>
                &nbsp;
                 
                <br />
                <asp:RadioButtonList ID="RBStyle" runat="server" RepeatColumns="3" AutoPostBack="True">
                    <asp:ListItem Selected="True">指針</asp:ListItem>
                    <asp:ListItem>曲線</asp:ListItem>
                    <asp:ListItem>Bar</asp:ListItem> 
                </asp:RadioButtonList>
            </div> 
        </div>
         
        <asp:Image ID="Image1" runat="server" />
    </form>
</body>
</html>
