@font-face {
    font-family: 'icomoon';
    src:    url('https://lol.garena.tw/fonts/icomoon.eot?gcic1l');
    src:    url('https://lol.garena.tw/fonts/icomoon.eot?gcic1l#iefix') format('embedded-opentype'),
        url('https://lol.garena.tw/fonts/icomoon.ttf?gcic1l') format('truetype'),
        url('https://lol.garena.tw/fonts/icomoon.woff?gcic1l') format('woff'),
        url('https://lol.garena.tw/fonts/icomoon.svg?gcic1l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change https://lol.garena.tw/fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-library:before {
    content: "\e900";
}

