﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="SensorList.aspx.vb" Inherits="SQLWeb.SensorList" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Label" Font-Size="14">感應器列表</asp:Label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Index.aspx">回首頁</asp:HyperLink>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="08管理系統.aspx">回管理首頁</a>
        <br /> 
        <asp:TreeView ID="TV" runat="server" BorderStyle="None"  Height="945px" NodeIndent="80" ShowLines="True" Width="1157px" Font-Size="14">
                            <LeafNodeStyle BorderStyle="None" />
                        </asp:TreeView>
    </div>
    </form>
</body>
</html>
